.button-c {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: 10px;
}

.col-md-1 {
    color: orange;
}

.h-100 {
    border: none;
    padding: 50px;
}

.col-md-7 {
    margin-top: 50%;
}

.cate {
    background-color: #F5F5F5;
}

.bang {
    text-decoration: underline #FF9C35;
}